version: '3'
services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - TEMPORAL_SERVER=localhost:7233
  temporal:
    image: temporalio/auto-setup:1.22.4
    ports:
      - "7233:7233"